* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial,  sans-serif;
    color: #444;
}

.container {
    /* border: 1px solid #ccc; */
}


/* === HEADER == */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid #00b3e4;
}

h1 {
    margin: 10px 0 3px 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3em;
}

.header-title > p {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}


/* === MAIN === */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > img.hero {
    width: 100%;
}




/* === FEATURE SECTION === */
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.main > h2 {
    color: #00b3e4;
}


.feature-card {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: #fafafa;
    -moz-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
}

.feature-card-image {
    width: 100%;
    max-width: 480px;
    align-self: center;
}

.feature-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px;
    max-width: 480px;
}

.feature-card-description h3 {
    font-size: 2em;
    margin: 10px 0;
}

.feature-card-description  p {
    font-size: 0.9em;
    margin-top: 0;
}

.icon-link {
    margin-top: 20px;
}

.icon-link a {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.icon-link a:link {
    text-decoration: none;
    color: #444
}

.icon-link a:visited {
    color: #444
}

.icon-link img {
    margin-right: 10px;
}
.icon-link p {
    display: inline;
    margin: 0;
}

/* === FOOTER === */
footer {
    margin: 0;
    padding: 5px 20px;
    background-color: #00b3e4;
    color: #fafafa;
    font-size: 0.7em;
}

/* === MEDIA QUERIES === */
@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px 10px;
    }

    .header-title > p {
        text-align: right;
    }

    .main > h2 {
        font-size: 2em;
    }

    .feature {
        padding: 0 30px;
    }

    header .logo {
        width: 60px;
        height: 60px;
    }

    .feature-card {
        flex-direction: row;
    }

    .feature-card-description {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .feature {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    
    .feature > h2 {
        align-self: flex-start;
    }

    .feature-card {
        flex-direction: column;
        max-width: 350px;
    }

    .feature-card-description {
        align-items: center;
    }

    .feature-card-description  .icon-link {
        align-self: flex-start;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        max-width: 1536px;
        margin: 0 auto;
        border: 2px solid #fafafa;
        -moz-box-shadow: 0 3px 10px #ccc;
        -webkit-box-shadow: 0 3px 10px #ccc;
        box-shadow: 0 12px 20px #ccc;
    }

    .feature-card {
        max-width: 480px;
    }

    .feature-card-description  .icon-link {
        align-self: center;
    }
}